.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(65, 120, 120);
}

.red {
  background-color:burlywood;
  width: 100px;
  height: 100px;
}
.other {
  background-color: rgb(250, 148, 148);
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(147, 141, 141);
}
.home {
  background-color: teal;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.testDiv {
    // display: inline-block;
  display: flex;
  height: 400px;
  width: 200px;
  background-color:red;
  overflow: hidden;
}

.h2 {
  overflow: hidden;
  display: inline-block;
}

.boundary {
  transition: all 0.2s ease-in-out;
  fill: rgb(254, 97, 97);
  stroke:rgb(255, 255, 255);
  stroke-width: 1px;
  cursor: pointer;
  &:hover {
    fill: rgb(34, 28, 28);
  }
}

.number {
  fill: rgb(255, 255, 255);
  pointer-events: none;
}

.cssChange {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    fill: rgb(235, 252, 105);

}

.buttonTest {
  position: absolute;
  
}