.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.other {
  background-color: red;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(147, 141, 141);
}
.something {
  background-color: blue;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
